<style>
body{
    margin: 0px;
}

ckanvas{
    width:90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    background:#f5f5f5;
    overflow: hidden;
}

</style>
<!-- <ckanvas paths="pathArray" zoom="zoomFactor" responsive="true" center=false></ckanvas> -->
<ckanvas paths="pathArray" responsive=true transform-controls=true mini-map=true></ckanvas>
<!-- <div class="container">
    <div id="main">
        <ckanvas paths="pathArray" zoom="zoomFactor"></ckanvas>
    </div>

    <div class="zoom-buttons">
        <button ng-click="increaseZoom()">+</button>
        <button ng-click="decreaseZoom()">-</button>
    </div>

</div> -->
<!-- <div class="zoom-buttons"><button ng-click="increaseZoom()">+</button><button ng-click="decreaseZoom()">-</button></div> -->
